<div class="header-wrapper px-2 row align-items-center mx-0">
    <div class="project-title d-flex align-items-center ">
        <mat-icon class="mx-2">widgets</mat-icon>
        <h3 class="mb-0">{{projectDetails.name}}</h3>
        <div class="project-action-options ">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>expand_more</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openUpdateProjectDialog()">
                    <mat-icon>edit_square</mat-icon>
                    <span>Edit project details</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>lock_reset</mat-icon>
                    <span>Review project Permission</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>delete</mat-icon>
                    <span>Delate Project</span>
                </button>
            </mat-menu>
        </div>

        <div class="project-status-edit">
            <mat-form-field appearance="outline">
               
                <mat-select [formControl]="statusControl">
                    @for (status of statusGroups; track status) {
                    <mat-option [value]="status.value">{{status.viewValue}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

        </div>
    </div>
</div>