<div class="Form-title text-center mb-2">
    <h3>Reset Password</h3>

</div>
<div class="form" [formGroup]="resetPasswordForm">
    <div class="new-password row">
        <app-text-field [parentForm]="resetPasswordForm" [controlName]="'newPassword'" [label]="'New Password'"
            [placeholder]="'please enter your new password'" [type]="'password'"></app-text-field>
    </div>
    <div class="confirm-password row">
        <app-text-field [parentForm]="resetPasswordForm" [controlName]="'confirmPassword'" [label]="'Confirm Password'"
            [placeholder]="'please confirm your password'" [type]="'password'"></app-text-field>
    </div>
    <div class="reset-btn row px-3">
        <div class="btn text-light" (click)="resetPassword()">Reset Password </div>
    </div>
</div>
