<div [formGroup]="loginForm">
  <div class="email">
    <app-text-field
      [parentForm]="loginForm"
      [controlName]="'email'"
      [label]="translator.email"
      [placeholder]="translator.email_placeholder"
    ></app-text-field>
  </div>
  <div class="password">
    <app-text-field
      [parentForm]="loginForm"
      [controlName]="'password'"
      [label]="translator.password"
      [placeholder]="translator.password_placeholder"
      [type]="'password'"
    ></app-text-field>
  </div>
  <div class="remember-me">
    <!-- <mat-checkbox>Remember me</mat-checkbox> -->
  </div>
  <div class="row px-3">
    <div class="btn text-light" (click)="login()">{{translator.login}}</div>
  </div>
  <div class="row px-3 mt-2">
    <div class="google-login col text-center">
      <app-google></app-google>
    </div>
    <div class="microsoft-login col text-center">
      <app-microsoft></app-microsoft>
    </div>
    <div class="facebook-login col text-center">
      <app-facebook></app-facebook>
    </div>
  </div>
  <div class="row px-3">
    <a [routerLink]="['/account/forgot-password']">{{translator.forgot_password}} ?</a>
    <a [routerLink]="['/account/register']">{{translator.register}}</a>
  </div>
</div>
