<div class="form-title row text-center">
    <h3 class="mb-2">Forgot Password</h3>
    <p>we will send reset password link to your account</p>
</div>

<div class="form" [formGroup]="form">

    <div class="email">
        <app-text-field [parentForm]="form" [controlName]="'email'" [label]="'Email'"
            [placeholder]="'please enter your email'"></app-text-field>
    </div>
    <div class="send-Mail-btn row px-3">
        <div class="btn text-light" (click)="sendMail()">Send Mail </div>
    </div>
</div>
